body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.counter {
    font-size: 2em;
}

button.action {
    padding: 7px 7px;
    margin: 3px;
    font-variant: small-caps;
    color: #333333;
    font-weight: bold;
    background-color: #8BC34A;
    border: 1px solid #33691e;
    border-radius: 7px;
}